* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $f-stack-regular;
  color: $c-gray-light;
}

html,
body {
  width: auto;
}

.container {
  padding: 20px;
  margin-top: 80px;
}

/*=================*/
// Buttons
/*=================*/

.btn {
  border: none;
  padding: 10px;
  font-weight: bold;
  color: $c-white;
}

.btn-primary {
  //background: $c-blue;
  background: $c-gray-dark;
}

.btn-secondary {
  background: $c-gray-light;
}

/*=================*/
// Forms
/*=================*/

form {
  .field {
    width: 100%;
    padding: 10px 0;

    label,
    input,
    textarea {
      display: block;
      width: 100%;
      resize: none;
    }
  }

  label {
    color: $c-gray-light;
    font-weight: bold;
  }

  input,
  select,
  textarea {
    padding: 5px;
    color: $c-blue-green;
    font-weight: bold;
  }
}

/*=================*/
// Inputs
/*=================*/

input {
  &[type='text'] {
    min-height: 30px;
  }
}

/*=================*/
// Links
/*=================*/
a {
  text-decoration: none;
  color: inherit;
}

/*=================*/
// Lists
/*=================*/

ul {
  list-style: none;
}

/*=================*/
// Headers
/*=================*/
h1, h2, h3, .title, .name {
  color: $c-gray-dark;
}
