/*========== Font sizes ============*/
$f-size-xs: 12px;
$f-size-s: 14px;
$f-size-m: 16px;
$f-size-l: 18px;
$f-size-xl: 20px;
$f-size-xxl: 24px;

/*========== Colours ==========*/
$c-black: #000000;
$c-white: #ffffff;

$c-gray-dark: #414042;
$c-gray-light: #A4A4A4;;
$c-blue-green: #25B1AD;
$c-orange: #FFCB54;

/*========== Fonts ============*/

@font-face {
 font-family: Montserrat-Regular;
 src: url('/fonts/Montserrat-Regular.ttf') format('ttf');
}

$f-stack-regular: Montserrat-Regular, Arial, serif;