<template name="template_hero_shop_index">
    {{> template_layoutheader_index }}
    <link rel="stylesheet" href="/css/hero.css"/>

    <div class="container">
        {{> template_layout_hero_navigation }}
        <div class="items-list">
            <div class="section items">Items</div>
            {{#each items}}
                <div class="item">
                    <div class="title">
                        {{options.name}}
                        <div class="cost round">
                            {{options.cost}}
                        </div>
                    </div>
                    <div class="details hidden">
                        <div class="description">
                            {{options.description}}
                        </div>
                        <div class="options">
                            <button class="option buy">Buy</button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="abilities-list">
            <div class="section abilities">Abilities</div>
            {{#each abilities}}
                <div class="ability">
                    <div class="title">
                        {{options.name}}
                        <div class="cost round">
                            {{options.cost}}
                        </div>
                    </div>
                    <div class="details hidden">
                        <div class="description">
                            {{options.description}}
                        </div>
                        <div class="options">
                            <button class="option buy">Buy</button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>