<template name="template_hero_choose_index">
    {{> template_layoutheader_index}}
    <link rel="stylesheet" href="/css/choose-hero.css"/>

    <div class="container">
        <div class="choose-hero">
            {{#each heroes}}
                <div class="hero">
                    <div class="details">
                        <p class="name">{{name}} - {{class}}</p>
                        <div class="stats">
                            <p class="strength"><span>Strength: </span>{{stats.strength}}</p>
                            <p class="intelligence"><span>Intelligence: </span>{{stats.intelligence}}</p>
                            <p class="health"><span>Health: </span>{{stats.health}}</p>
                            <p class="charisma"><span>Charisma: </span>{{stats.charisma}}</p>
                        </div>
                    </div>
                    <div class="options-wrapper hidden">
                        <div class="options">
                            <button class="option select">Select</button>
                            <button class="option delete">Delete</button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="create-hero">
            <a href="/hero/create" class="btn btn-primary create">Create</a>
        </div>
    </div>
</template>