<template name="template_hero_quests_create_index">
    {{> template_layoutheader_index }}
    <link rel="stylesheet" href="/css/hero.css"/>

    <div class="container">
        {{> template_layout_hero_navigation }}

        <h1>New quest</h1>
        <form id="form-create-quest">
            <div class="field required">
                <label>Title*</label>
                <input type="text" name="title"/>
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="description"></textarea>
            </div>
            <div class="field">
                <label>Difficulty</label>
                <select class="difficulty" name="difficulty">
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>
            </div>
            <div class="field">
                <label>Time</label>
                <select class="time" name="time">
                    <option value="{{dates.today}}">Today</option>
                    <option value="{{dates.tomorrow}}">Tomorrow</option>
                    <option value="{{dates.week}}">This week</option>
                    <option value="{{dates.month}}">This month</option>
                </select>
            </div>

            <div class="field">
                <input type="submit" class="btn btn-primary" value="Save"/>
            </div>
        </form>
    </div>
</template>