<template name="template_hero_quests_index">
    {{> template_layoutheader_index }}
    <link rel="stylesheet" href="/css/hero.css"/>

    <div class="container">
        {{> template_layout_hero_navigation }}
        <div class="quests-list">
            <div class="time today {{#unless quests_today}}empty{{/unless}}">
                Today
            </div>
            {{#each quests_today}}
            <div class="quest {{status}}">
                <div class="title">
                    {{title}}
                    <div class="difficulty round">
                        {{difficulty}}
                    </div>
                </div>
                <div class="details hidden">
                    <div class="description">
                        {{description}}
                    </div>
                    <div class="options">
                        <button class="option done">Done</button>
                        <button class="option todo">Todo</button>
                        <button class="option edit">Edit</button>
                        <button class="option delete">Delete</button>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="time tomorrow {{#unless quests_tomorrow}}empty{{/unless}}">
                Tomorrow
            </div>
            {{#each quests_tomorrow}}
            <div class="quest {{status}}">
                <div class="title">
                    {{title}}
                    <div class="difficulty round">
                        {{difficulty}}
                    </div>
                </div>
                <div class="details hidden">
                    <div class="description">
                        {{description}}
                    </div>
                    <div class="options">
                        <button class="option done">Done</button>
                        <button class="option todo">Todo</button>
                        <button class="option edit">Edit</button>
                        <button class="option delete">Delete</button>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="time week {{#unless quests_week}}empty{{/unless}}">
                This week
            </div>
            {{#each quests_week}}
            <div class="quest {{status}}">
                <div class="title">
                    {{title}}
                    <div class="difficulty round">
                        {{difficulty}}
                    </div>
                </div>
                <div class="details hidden">
                    <div class="description">
                        {{description}}
                    </div>
                    <div class="options">
                        <button class="option done">Done</button>
                        <button class="option todo">Todo</button>
                        <button class="option edit">Edit</button>
                        <button class="option delete">Delete</button>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="time month {{#unless quests_month}}empty{{/unless}}">
                This month
            </div>
            {{#each quests_month}}
            <div class="quest {{status}}">
                <div class="title">
                    {{title}}
                    <div class="difficulty round">
                        {{difficulty}}
                    </div>
                </div>
                <div class="details hidden">
                    <div class="description">
                        {{description}}
                    </div>
                    <div class="options">
                        <button class="option done">Done</button>
                        <button class="option todo">Todo</button>
                        <button class="option edit">Edit</button>
                        <button class="option delete">Delete</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="create-quest">
            <a href="/hero/quests/create" class="btn btn-primary create">Create</a>
        </div>
    </div>
</template>