<template name="template_hero_create_index">
    {{> template_layoutheader_index}}
    <link rel="stylesheet" href="/css/choose-hero.css"/>

    <div class="container">
        <h2>New Hero</h2>
        <form id="form-create-hero">
            <div class="field">
                <label>Name*</label>
                <input type="text" name="name"/>
            </div>
            <div class="field">
                <label>Class*</label>
                <select class="class" name="class">
                    <option>Knight</option>
                    <option>Scientist</option>
                    <option>Druid</option>
                    <option>Adventurer</option>
                </select>
            </div>

            <div class="field submit">
                <input type="submit" class="btn btn-primary" value="Start Journey"/>
            </div>
        </form>
    </div>
</template>