<template name="template_hero_stats_index">
    {{> template_layoutheader_index }}
    <link rel="stylesheet" href="/css/hero.css"/>

    <div class="container">
        {{> template_layout_hero_navigation }}
        <h1 class="name">{{hero.name}} <span class="level round">{{hero.level}}</span></h1>
        {{#if hero.sp}}
            <div class="sp">
                You have <span class="color-orange">{{hero.sp}}</span> skill points!
            </div>
        {{/if}}
        <div class="image"></div>
        <div class="stats">
            <div class="stat">
                <span class="icon icons-dumbbell"></span>
                <p class="value">{{hero.stats.strength}}</p>
            </div>
            <div class="stat">
                <span class="icon icons-gears"></span>
                <p class="value">{{hero.stats.intelligence}}</p>
            </div>
            <div class="stat">
                <span class="icon icons-heart"></span>
                <p class="value">{{hero.stats.health}}</p>
            </div>
            <div class="stat">
                <span class="icon icons-clover"></span>
                <p class="value">{{hero.stats.charisma}}</p>
            </div>
        </div>
        <div class="resources">
            <div class="resource gold">
                <span class="icon icons-money-bag"></span>
                <p class="value">{{hero.gold}}</p>
            </div>
            <div class="resource xp">
                <span class="icon icons-chevron"></span>
                <p class="value">{{hero.xp}} / {{nextLevelXp}}</p>
            </div>
        </div>
        <div class="inventory">
            <div class="switch">
                <button class="items active" data-target="items-list">Items</button>
                <button class="abilities" data-target="abilities-list">Abilities</button>
            </div>
            <!-- Items -->
            <div class="items-list active list">
                {{#each items}}
                <div class="item">
                    <div class="title">
                        {{options.name}}
                        <div class="cost round">
                            {{options.cost}}
                        </div>
                    </div>
                    <div class="details hidden">
                        <div class="description">
                            {{options.description}}
                        </div>
                        <div class="options">
                            <button class="option use btn-primary">Use</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

            <!-- Abilities -->
            <div class="abilities-list list">
                {{#each abilities}}
                <div class="ability">
                    <div class="title">
                        {{options.name}}
                        <div class="cost round">
                            {{options.cost}}
                        </div>
                    </div>
                    <div class="details hidden">
                        <div class="description">
                            {{options.description}}
                        </div>
                        <div class="options">
                            <button class="option use btn-primary">Use</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>