<template name="template_layout_hero_navigation">
    <div class="top-nav">
        <a href="/hero" class="nav-item stats">Stats</a>
        <a href="/hero/quests" class="nav-item quests">Quests</a>
        <a href="/hero/shop" class="nav-item shop">Shop</a>
    </div>
</template>