.container {
  .choose-hero {
    padding-top: 20px;

    .hero {
      position: relative;
      text-align: center;
      font-family: $f-stack-regular;
      border: 1px solid $c-gray-dark;
      margin-bottom: 5px;

      .details {
        padding: 10px;

        .name {
          font-weight: bold;
        }

        .stats {
          color: $c-gray-light;
          text-align: left;

          p {
            font-weight: bold;
          }
        }
      }

      .options {
        display: table;
        width: 100%;
        height: 50px;
        margin: 10px 0 0 0;

        .option {
          display: table-cell;
          width: 50%;
          height: 50px;
          border: none;
          font-weight: bold;
          color: $c-white;

          &.select {
            background: $c-blue-green;
          }

          &.delete {
            background: $c-gray-dark;
          }
        }
      }
    }
  }

  .create-hero {
    text-align: center;

    .create {
      display: inline-block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0;
    }
  }
}