body {
  .container {
    padding-top: 0;

    .top-nav {
      display: table;
      width: calc(100% + 40px);
      margin-left: -20px;

      .nav-item {
        display: table-cell;
        text-align: center;
        height: 60px;
        vertical-align: middle;
        font-family: $f-stack-regular;
        font-weight: bold;
        color: $c-white;

        &.stats {
          background: $c-blue-green;
        }
        
        &.quests {
          background: $c-orange;
        }

        &.shop {
          background: $c-gray-dark;
        }
      }
    }
  }
}