<template name="template_app_about_index">
    {{> template_layoutheader_index}}
    <div class="container padding-20">
        <h1 class="color-red">What is this?</h1>
        <div class="description">
            <p>Hello, my name is Edgars Joja and app is built with MeteorJS for university project.</p>
            <br>
            <p>The aim of this app is to make classical to-do lists more interesting by introducing gaming elements in process.</p>
            <br>
            <p>By completing tasks player is rewarded with gold and experience points with whom then can be bought items or unlocked abilities.</p>
        </div>
    </div>
</template>