<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<template name="template_layoutheader_index">
    <div class="header">
        <div class="navigation">
            <a class="icon icons-back back round" href="javascript:void(0)"></a>
            <img class="logo" src="/images/icon-hdpi.png"/>
            <a class="icon icons-menu menu" href="javascript:void(0)"></a>
        </div>

        <div class="menu-list">
            <ul>
                <li><a href="/" class="start">Start</a></li>
                <li><a href="/about" class="about">About</a></li>
            </ul>
        </div>
    </div>
</template>