.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  min-height: 80px;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;

  .navigation {
    height: 100%;

    .back {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      margin-left: 5px;
    }

    .logo {
      width: 50px;
      height: 50px;
      left: 50%;
      position: relative;
      margin-top: 10px;
      @include transform(translateX(-50%));
    }

    .menu {
      position: absolute;
      top: 50%;
      right: 20px;
      @include transform(translateY(-50%));
      margin-left: 5px;
    }
  }

  .menu-list {
    position: fixed;
    top: 80px;
    background: $c-white;
    width: 100%;
    padding: 20px;
    display: none;
    border-bottom: 2px solid $c-gray-light;
    font-weight: bold;

    ul {
      li {
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          font-size: $f-size-xxl;

          &:hover {
            //color: $c-blue;
          }
        }
      }
    }
  }
}