.container {

  .name {
    position: relative;

    .level {
      position: absolute;
      display: inline-block;
      vertical-align: top;
      width: 35px;
      height: 35px;
      border: 3px solid rgba($c-blue-green, 0.5);
      text-align: center;
      line-height: 29px;
      color: $c-gray-light;
      font-size: $f-size-xl;
      right: 0;
    }
  }

  .sp {
    font-weight: bold;
    height: 50px;
    padding: 14px 0;
    text-align: center;
    border-left: 6px solid rgba($c-orange, 1);
    margin-bottom: 50px;
  }

  .stats,
  .resources {
    white-space: nowrap;

    .stat,
    .resource {
      position: relative;
      width: 25%;
      display: inline-block;

      .value {
        display: inline-block;
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        margin: 0 10px;
        font-size: $f-size-xxl;
        font-family: $f-stack-regular;
        font-weight: bold;
      }
    }
  }

  .resources {
    margin-top: 50px;
  }

  .items-list,
  .abilities-list {
    margin-top: 15px;

    .item,
    .ability {
      border: 1px solid $c-gray-dark;
      margin-bottom: 5px;

      .title {
        padding: 20px 60px 20px 10px;
        cursor: pointer;
        border-left: 10px solid $c-white;
        font-weight: bold;
        position: relative;

        .cost {
          position: absolute;
          width: 30px;
          height: 30px;
          right: 20px;
          top: 15px;
          border: 3px solid rgba($c-gray-dark, 0.75);
          text-align: center;
          line-height: 24px;
          color: $c-gray-light;
        }
      }

      .description {
        padding: 10px 10px 10px 20px;
      }

      .options {
        display: table;
        width: 100%;
        height: 50px;
        margin: 10px 0 0 0;

        .option {
          display: table-cell;
          width: 100%;
          height: 50px;
          border: none;
          font-weight: bold;
          color: $c-white;
        }
      }
    }
  }

  .inventory {
    margin-top: 50px;

    .switch {
      display: inline-block;
      width: 100%;
      height: 50px;
      font-size: 0;

      button {
        display: inline-block;
        width: 50%;
        height: 100%;
        font-size: $f-size-xxl;
        background: $c-gray-dark;
        border-radius: 0;
        font-weight: bold;
        color: $c-white;
        border: none;

        &:not(.active) {
          opacity: 0.5;
          background: $c-gray-light;
        }
      }
    }

    .list {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
