.container {
  .items-list,
  .abilities-list {
    margin-top: 15px;

    .section {
      display: block;
      padding: 20px 20px 20px 0;
      font-weight: bold;
      color: $c-gray-dark;
    }

    .item,
    .ability {
      margin-bottom: 5px;

      .title {
        padding: 20px 60px 20px 10px;
        cursor: pointer;
        border-left: 10px solid $c-white;
        font-weight: bold;
        position: relative;

        .cost {
          position: absolute;
          width: 30px;
          height: 30px;
          right: 20px;
          top: 15px;
          border: 3px solid rgba($c-gray-dark, 0.75);
          text-align: center;
          line-height: 24px;
          color: $c-gray-light;
        }
      }

      .description {
        padding: 10px 10px 10px 20px;
      }

      .options {
        display: table;
        width: 100%;
        height: 50px;
        margin: 10px 0 0 0;

        .option {
          display: table-cell;
          width: 100%;
          height: 50px;
          border: none;
          font-weight: bold;
          color: $c-white;

          &.buy {
            background: $c-gray-dark;
          }
        }
      }
    }
  }
}