.container {
  .quests-list {
    margin-top: 15px;

    .quest {
      border: 1px solid $c-gray-dark;
      margin-bottom: 5px;

      &.done {
        opacity: 0.5;
      }

      .title {
        padding: 20px 60px 20px 10px;
        cursor: pointer;
        border-left: 10px solid $c-white;
        font-weight: bold;
        position: relative;

        .difficulty {
          position: absolute;
          width: 30px;
          height: 30px;
          right: 20px;
          top: 15px;
          border: 3px solid rgba($c-orange, 0.75);
          text-align: center;
          line-height: 24px;
          color: $c-gray-light;
        }
      }

      .description {
        padding: 10px 10px 10px 20px;
      }

      .options {
        display: table;
        width: 100%;
        height: 50px;
        margin: 10px 0 0 0;

        .option {
          display: table-cell;
          width: 25%;
          height: 50px;
          border: none;
          font-weight: bold;
          color: $c-white;

          &.done {
            background: $c-blue-green;
          }

          &.todo {
            background: rgba($c-blue-green, 0.5);
          }

          &.edit {
            background: rgba($c-orange, 0.75);
          }

          &.delete {
            background: $c-orange;
          }
        }
      }

      &.done {
        .title {
          border-left: 10px solid $c-blue-green;
        }
      }
    }

    .time {
      display: block;
      padding: 20px 20px 20px 0;
      font-weight: bold;
      color: $c-gray-dark;

      &.empty {
        opacity: 0.5;
      }

      &.today {
        color: $c-blue-green;
      }
    }
  }

  .create-quest {
    text-align: center;

    .create {
      display: inline-block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0;
    }
  }
}